<div class="absolute inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll">

    <!-- Main -->
    <div class="flex-auto mt-4 sm:mt-6">
        <div class="w-full max-w-screen-xl mx-auto">

            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                (selectedIndexChange)="tabChange($event)"
                [animationDuration]="'0'">

                <mat-tab label="My Spending">

                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <!-- Summary -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Buy Necessity
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="summaryMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #summaryMenu="matMenu">
                                            <button mat-menu-item (click)="updateCard('yesterday','buy-necessity')">
                                                Yesterday
                                            </button>
                                            <button mat-menu-item (click)="updateCard('two-days-ago','buy-necessity')">2
                                                days
                                                ago
                                            </button>
                                            <button mat-menu-item
                                                    (click)="updateCard('three-days-ago','buy-necessity')">3
                                                days
                                                ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>

                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                                        {{buyNecessityCount}}
                                    </div>
                                    <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Tasks</div>
                                    <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Total Spend:</div>
                                        <div class="ml-1.5 text-lg font-semibold">${{buyNecessitySpend}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Overdue -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Food Delivery
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="overdueMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #overdueMenu="matMenu">
                                            <button mat-menu-item (click)="updateCard('yesterday','food-delivery')">
                                                Yesterday
                                            </button>
                                            <button mat-menu-item (click)="updateCard('two-days-ago','food-delivery')">2
                                                days ago
                                            </button>
                                            <button mat-menu-item
                                                    (click)="updateCard('three-days-ago','food-delivery')">3
                                                days ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                                        {{foodDeliveryCount}}
                                    </div>
                                    <div class="text-lg font-medium text-red-600 dark:text-red-500">Tasks</div>
                                    <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Total Spend:</div>
                                        <div class="ml-1.5 text-lg font-semibold">${{foodDeliverySpend}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Issues -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Send Document
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="issuesMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #issuesMenu="matMenu">
                                            <button mat-menu-item (click)="updateCard('yesterday','send-document')">
                                                Yesterday
                                            </button>
                                            <button mat-menu-item (click)="updateCard('two-days-ago','send-document')">2
                                                days ago
                                            </button>
                                            <button mat-menu-item
                                                    (click)="updateCard('three-days-ago','send-document')">3
                                                days ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">
                                        {{sendDocumentCount}}
                                    </div>
                                    <div class="text-lg font-medium text-green-600 dark:text-green-500">Tasks</div>

                                    <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Total Spend:</div>
                                        <div class="ml-1.5 text-lg font-semibold">${{sendDocumentSpend}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Features -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Other</div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="featuresMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #featuresMenu="matMenu">
                                            <button mat-menu-item (click)="updateCard('yesterday','other')">
                                                Yesterday
                                            </button>
                                            <button mat-menu-item (click)="updateCard('two-days-ago','other')">2
                                                days ago
                                            </button>
                                            <button mat-menu-item (click)="updateCard('three-days-ago','other')">3
                                                days ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                                        {{otherCount}}
                                    </div>
                                    <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Tasks</div>
                                    <div class="flex items-center justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Total Spend:</div>
                                        <div class="ml-1.5 text-lg font-semibold">${{otherSpend}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Github issues summary -->
                            <div
                                class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex flex-col sm:flex-row items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Task Summary
                                    </div>
                                    <div class="mt-3 sm:mt-0 sm:ml-2">
                                        <mat-button-toggle-group
                                            value="this-week"
                                            #tasksWeekSelector="matButtonToggleGroup">
                                            <mat-button-toggle (click)="updateSummary('last-week')" value="last-week">
                                                Last Week
                                            </mat-button-toggle>
                                            <mat-button-toggle (click)="updateSummary('this-week')" value="this-week">
                                                This Week
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                                <div
                                    class="mb-2 grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                                    <!-- New vs. Closed -->
                                    <div class="flex flex-col flex-auto">
                                        <div class="flex flex-col flex-auto">
                                            <apx-chart
                                                class="flex-auto w-full h-80"
                                                [series]="spendingTaskSummaryChartOptions.series"
                                                [chart]="spendingTaskSummaryChartOptions.chart"
                                                [yaxis]="spendingTaskSummaryChartOptions.yaxis"
                                                [xaxis]="spendingTaskSummaryChartOptions.xaxis"
                                                [labels]="spendingTaskSummaryChartOptions.labels"
                                                [stroke]="spendingTaskSummaryChartOptions.stroke"
                                                [title]="spendingTaskSummaryChartOptions.title"
                                                [dataLabels]="spendingTaskSummaryChartOptions.dataLabels"
                                                [fill]="spendingTaskSummaryChartOptions.fill"
                                                [tooltip]="spendingTaskSummaryChartOptions.tooltip"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                    <!-- Overview -->
                                    <div class="flex flex-col">
                                        <div class="font-medium text-secondary">Overview</div>
                                        <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                                            <!-- New issues -->
                                            <div
                                                class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                                                <div
                                                    class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                                    {{totalTasks}}
                                                </div>
                                                <div class="mt-1 text-sm sm:text-lg font-medium">Total Tasks</div>
                                            </div>
                                            <!-- Closed -->
                                            <div
                                                class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                                                <div
                                                    class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                                    {{dollarSpent}}
                                                </div>
                                                <div class="mt-1 text-sm sm:text-lg font-medium">Dollar Spent</div>
                                            </div>
                                            <!-- Fixed -->
                                            <div
                                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                                    {{buyNecessityWeeklyCount}}
                                                </div>
                                                <div class="mt-1 text-sm font-medium text-center">Buy Necessity</div>
                                            </div>
                                            <!-- Won't fix -->
                                            <div
                                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                                    {{foodDeliveryWeeklyCount}}
                                                </div>
                                                <div class="mt-1 text-sm font-medium text-center">Food Delivery</div>
                                            </div>
                                            <!-- Re-opened -->
                                            <div
                                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                                    {{sendDocumentWeeklyCount}}
                                                </div>
                                                <div class="mt-1 text-sm font-medium text-center">Send Document</div>
                                            </div>
                                            <!-- Needs triage -->
                                            <div
                                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                                    {{otherWeeklyCount}}
                                                </div>
                                                <div class="mt-1 text-sm font-medium text-center">Other</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- My task table-->
                            <div
                                class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-auto">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Spending Details
                                </div>
                                <table mat-table [dataSource]="spendingDataSource">

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="no">
                                        <th mat-header-cell *matHeaderCellDef> No.</th>
                                        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef> Title</th>
                                        <td mat-cell *matCellDef="let element"> {{element.taskTitle}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="complete">
                                        <th mat-header-cell *matHeaderCellDef> Complete Time</th>
                                        <td mat-cell *matCellDef="let element"> {{element.completeDateTime}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="category">
                                        <th mat-header-cell *matHeaderCellDef> Category</th>
                                        <td mat-cell *matCellDef="let element"> <span
                                            [ngSwitch]="element.taskCategoryId">
                                            <span *ngSwitchCase="0">Buy Necessity</span>
                                            <span *ngSwitchCase="1">Food Delivery</span>
                                            <span *ngSwitchCase="2">Send Document</span>
                                            <span *ngSwitchCase="3">Other</span>
                                        </span></td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="owner">
                                        <th mat-header-cell *matHeaderCellDef> Owner</th>
                                        <td mat-cell *matCellDef="let element"> {{element.taskOwnerId}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="deliver">
                                        <th mat-header-cell *matHeaderCellDef> Deliver</th>
                                        <td mat-cell *matCellDef="let element"> {{element.taskDeliveredId}} </td>
                                    </ng-container>
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="from">
                                        <th mat-header-cell *matHeaderCellDef> From</th>
                                        <td mat-cell *matCellDef="let element"> {{element.taskFrom}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="to">
                                        <th mat-header-cell *matHeaderCellDef> To</th>
                                        <td mat-cell *matCellDef="let element"> {{element.taskTo}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="rate">
                                        <th mat-header-cell *matHeaderCellDef> Rate</th>
                                        <td mat-cell *matCellDef="let element"> ${{element.taskDeliverRate}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>

                        </div>
                    </ng-template>
                </mat-tab>

                <!-- Earning -->
                <mat-tab label="My Earning">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">
                            <!-- Earning distribution -->
                            <div
                                class="sm:col-span-3 lg:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Earning Summary
                                    </div>
                                    <div class="ml-2 -mt-2 -mr-3">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="featuresMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #featuresMenu="matMenu">
                                            <button (click)="updateRadar('this-week')" mat-menu-item>
                                                This Week
                                            </button>
                                            <button (click)="updateRadar('last-week')" mat-menu-item>
                                                Last Week
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto">
                                    <apx-chart
                                        class="flex-auto w-full h-80"
                                        [series]="earningRadarChartOptions.series"
                                        [chart]="earningRadarChartOptions.chart"
                                        [xaxis]="earningRadarChartOptions.xaxis"
                                        [stroke]="earningRadarChartOptions.stroke"
                                        [colors]="earningRadarChartOptions.colors"
                                        [dataLabels]="earningRadarChartOptions.dataLabels"
                                        [tooltip]="earningRadarChartOptions.tooltip"
                                        [plotOptions]="earningRadarChartOptions.plotOptions"
                                        [markers]="earningRadarChartOptions.markers"
                                        [yaxis]="earningRadarChartOptions.yaxis"
                                        [fill]="earningRadarChartOptions.fill"
                                        [title]="earningRadarChartOptions.title"
                                    ></apx-chart>
                                </div>
                            </div>
                            <!-- Expense -->
                            <div class="sm:col-span-3 lg:col-span-2 grid grid-cols-1 gap-y-6">
                                <!-- Weekly expenses -->
                                <div
                                    class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="flex items-start justify-between">

                                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Past 2 Days
                                        </div>
                                    </div>
                                    <div class="flex items-center mt-1">
                                        <div class="flex flex-col">
                                            <div class="text-3xl font-semibold tracking-tight leading-tight">
                                                ${{earningPastTwoDaysTotal}}
                                            </div>
                                        </div>
                                        <div class="flex flex-col flex-auto ml-8">
                                            <apx-chart
                                                class="flex-auto w-full h-16"
                                                [chart]="earningPastTowDaysChartOptions.chart"
                                                [colors]="earningPastTowDaysChartOptions.colors"
                                                [series]="earningPastTowDaysChartOptions.series"
                                                [stroke]="earningPastTowDaysChartOptions.stroke"
                                                [tooltip]="earningPastTowDaysChartOptions.tooltip"
                                                [xaxis]="earningPastTowDaysChartOptions.xaxis"
                                                [yaxis]="earningPastTowDaysChartOptions.yaxis"></apx-chart>
                                        </div>
                                    </div>
                                </div>
                                <!-- Monthly expenses -->
                                <div
                                    class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="flex items-start justify-between">
                                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Past 5 days
                                        </div>
                                    </div>
                                    <div class="flex items-center mt-1">
                                        <div class="flex flex-col">
                                            <div class="text-3xl font-semibold tracking-tight leading-tight">
                                                ${{earningPastFiveDaysTotal}}
                                            </div>
                                        </div>
                                        <div class="flex flex-col flex-auto ml-8">
                                            <apx-chart
                                                class="flex-auto w-full h-16"
                                                [chart]="earningPastFiveDaysChartOptions.chart"
                                                [colors]="earningPastFiveDaysChartOptions.colors"
                                                [series]="earningPastFiveDaysChartOptions.series"
                                                [stroke]="earningPastFiveDaysChartOptions.stroke"
                                                [tooltip]="earningPastFiveDaysChartOptions.tooltip"
                                                [xaxis]="earningPastFiveDaysChartOptions.xaxis"
                                                [yaxis]="earningPastFiveDaysChartOptions.yaxis"></apx-chart>
                                        </div>
                                    </div>
                                </div>
                                <!-- Yearly expenses -->
                                <div
                                    class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="flex items-start justify-between">
                                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Past 10 days
                                        </div>
                                    </div>
                                    <div class="flex items-center mt-1">
                                        <div class="flex flex-col">
                                            <div class="text-3xl font-semibold tracking-tight leading-tight">
                                                ${{earningPastTenDaysTotal}}
                                            </div>
                                        </div>
                                        <div class="flex flex-col flex-auto ml-8">
                                            <apx-chart
                                                class="flex-auto w-full h-16"
                                                [chart]="earningPastTenDaysChartOptions.chart"
                                                [colors]="earningPastTenDaysChartOptions.colors"
                                                [series]="earningPastTenDaysChartOptions.series"
                                                [stroke]="earningPastTenDaysChartOptions.stroke"
                                                [tooltip]="earningPastTenDaysChartOptions.tooltip"
                                                [xaxis]="earningPastTenDaysChartOptions.xaxis"
                                                [yaxis]="earningPastTenDaysChartOptions.yaxis"></apx-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Budget details -->
                            <div
                                class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-auto">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Earning Details</div>
                                <div class="flex flex-col flex-auto mt-2 overflow-auto">
                                    <div
                                        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-auto">
                                        <table mat-table [dataSource]="earningDataSource">

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="no">
                                                <th mat-header-cell *matHeaderCellDef> No.</th>
                                                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="title">
                                                <th mat-header-cell *matHeaderCellDef> Title</th>
                                                <td mat-cell *matCellDef="let element"> {{element.taskTitle}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="complete">
                                                <th mat-header-cell *matHeaderCellDef> Complete Time</th>
                                                <td mat-cell
                                                    *matCellDef="let element"> {{element.completeDateTime}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="category">
                                                <th mat-header-cell *matHeaderCellDef> Category</th>
                                                <td mat-cell *matCellDef="let element"> <span
                                                    [ngSwitch]="element.taskCategoryId">
                                                                                <span
                                                                                    *ngSwitchCase="0">Buy Necessity</span>
                                                                                <span
                                                                                    *ngSwitchCase="1">Food Delivery</span>
                                                                                <span
                                                                                    *ngSwitchCase="2">Send Document</span>
                                                                                <span *ngSwitchCase="3">Other</span>
                                                                            </span></td>
                                            </ng-container>
                                            <!-- Name Column -->
                                            <ng-container matColumnDef="owner">
                                                <th mat-header-cell *matHeaderCellDef> Owner</th>
                                                <td mat-cell *matCellDef="let element"> {{element.taskOwnerId}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="deliver">
                                                <th mat-header-cell *matHeaderCellDef> Deliver</th>
                                                <td mat-cell
                                                    *matCellDef="let element"> {{element.taskDeliveredId}} </td>
                                            </ng-container>
                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="from">
                                                <th mat-header-cell *matHeaderCellDef> From</th>
                                                <td mat-cell *matCellDef="let element"> {{element.taskFrom}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="to">
                                                <th mat-header-cell *matHeaderCellDef> To</th>
                                                <td mat-cell *matCellDef="let element"> {{element.taskTo}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="rate">
                                                <th mat-header-cell *matHeaderCellDef> Rate</th>
                                                <td mat-cell *matCellDef="let element">
                                                    ${{element.taskDeliverRate}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                                       showFirstLastButtons></mat-paginator>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>


            </mat-tab-group>

        </div>
    </div>

</div>
