<div mat-dialog-content class="text-center -mb-4">
    <mat-form-field style="width: 100%">
        <input
            matInput
            [placeholder]="'Your Expected Rate'"
            [(ngModel)]="data.rate"
            type="number"
            max="1000"
            min="1"
            required>
        <mat-icon
            class="icon-size-5"
            matPrefix
            [svgIcon]="'attach_money'"></mat-icon>
    </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.rate" cdkFocusInitial>Ok</button>
</div>
